.card_container_right{
  display: grid;
  grid-template-columns: 1fr 3fr;

  color: var(--white);
  background-color: var(--primary);
  max-width: 970px;
  padding: 5%;

  justify-content: center;
  align-items: center;
  text-align: center;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}

.card_container_left{
  display: grid;
  grid-template-columns: 3fr 1fr;

  color: var(--primary);
  background-color: var(--white);
  max-width: 970px;
  padding: 5%;

  justify-content: center;
  align-items: center;
  text-align: center;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}
.card_item_description{
  font-size: 18px;
}

.card_item_icon{
  width: 100px;
  height: 100px;
}

.card_item_title{
  font-size: 20px;
  border: 5px;
}

@media screen and (max-width: 990px){
  .card_container_right, .card_container_left{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .card_item_title{
    display: none;
  }
}
