.footer_container{
  width: 100%;
  margin-top: 100px;
  color: var(--white);
  background-color: var(--primary);
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer_container_text{  
  padding: 5%;
  font-size: 12px;
  text-align:center;
}

.footer_container_text a{
  color: var(--white);
  text-decoration: none;
}

.footer_container_logo{
  display: grid;
  justify-content: center; 
}

.footer_container_icons{
  display: grid;
  grid-auto-flow: column;
  grid-template: repet(4,1fr);
  justify-content: space-around; 
  margin: 5% 10% 0 10%;

}

.footer_item_logo{
  align-self: center;
  max-height: 120px;
}

.footer_item_icon{
  width: 35px;
  height: 35px;
}

.footer_container_text_title{
  font-size: 16px;
  font-weight: bold;
}

.footer_content_link{
  height: 35px;
  width: 35px;
  margin: 0 10px;
}

@media screen and (max-width: 880px){
  .footer_item_logo{
    max-height: 100px;
    padding: 5%;
  }
  .footer_container_text{
    padding: 5%;
  }
  .footer_container_icons{
    margin: 0;
  }
}

@media screen and (max-width: 660px){
  .footer_container{
    grid-template-columns: 1fr;
    padding-bottom: 5%;
  }

  .footer_container_text{
    padding: 0 10%;
  }
  .footer_container_icons{
    margin: 5% 10% 0 10%;
  }
}