.activity_container{
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 370px;
  background-color: white;
  margin: 40px 10px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
  
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.activity_container:hover{
  background-color: var(--primary);

  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.activity_image img{
  width: 100%;
  height: 220px;
}

.activity_container_text{
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: center;
}

.activity_title{
  display: flex;
  align-items: center;
  color:var(--primary);
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Mulish;
  font-style: normal;
  font-size: 24px;
  font-weight: normal;
}

.activity_container:hover .activity_title{
  color: var(--white);
}