.slideshow_container {
  position: relative;
  width: 100%;
  max-height: 1200px;
  align-items: center;
  justify-content: center;
}

.slideshow_item_image{
  display: flex;
  flex-grow: 1;
  min-height: 100VH;     /* max-height: 800px; */
  justify-content: center;
  text-decoration: none;
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slideshow_container_text{
  display: flex;
  flex-grow: 1;
  size: 100% 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  
  padding: 0 20%;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.slideshow_item_title{
  font-size: 50px;
  font-weight: bold;
  color: var(--white);
}

.slideshow_arrow{
  color:rgba(255,255,255,0.5);
  width: 50px;
  height: 50px;
}

.slideshow_arrow:hover{
  color:rgba(255,255,255,1);
}

.slideshow_indicator {
  background-color: var(--white);
  border-radius: 100%;
  cursor: pointer;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
  height: 20px;
  width: 20px;
  margin: 5px;
}

.slideshow_indicator.active {
  background: var(--primary);
}

@media screen and (max-width:1400px) {
  .slideshow_item_image{
    min-height: 80VH;
  }
  .slideshow_item_title{
    font-size: 60px;
  }
}

@media screen and (max-width:990px) {
  .slideshow_item_image{
    min-height: 60VH;    
  }

  .slideshow_container{
    position: relative;
    margin-top: 80px;
  }

  .slideshow_item_title{
    font-size: 35px;
  }
  
  .slideshow_container_text{
    padding: 0 10%;
  }

  .slideshow_arrow{
    width: 40px;
    height: 40px;
  }

  .slideshow_indicator {
    height: 15px;
    width: 15px;
  }

}

@media screen and (max-width:600px) {
  .slideshow_item_image{
    min-height: 50VH;     /* min-height: 400px; */
  }

  .slideshow_container{
    margin-top: 80px
  }

  .slideshow_item_title{
    font-size: 28px;
  }
}