.faq_container{
  display: grid;
  justify-content: center;
  margin-top: 100px;
}

.faq_container_content{
  max-width: 970px;
}

.faq_item_title{
  font-size: 36px;
  text-align: justify;
  margin-bottom: 10px;
}

.accordion_item_logo{
  margin-right: 10px;
  color: var(--white);
}

@media screen and (max-width: 990px){
  .faq_container {
    padding: 5%;
  }
}