.faq_container{
  display: grid;
  justify-content: center;
  margin-top: 100px;
}

.faq_container_content{
  max-width: 970px;
}

.faq_item_title{
  font-size: 36px;
  text-align: left;
  margin-bottom: 10px;
}

.accordion_item_logo{
  margin-right: 10px;
  color: var(--white);
}
