.socialNetworks_container{
  display: flex;
  margin-top: 100px;

  align-items: center;
  align-self: center;
  justify-content: center;
}

.socialNetworks_container_content{
  max-width: 970px;

  text-align: center;
  color: var(--primary);
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);

  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.socialNetworks_item_title{
  font-size: 24px;
  margin-top: 40px;
}

.socialNetworks_item_description{
  font-size: 18px;
  margin-top: 20px;
}

.socialNetworks_container_icon{
  display: grid;
  margin-top: 30px;
  margin-bottom: 40px;

  grid-template-columns: repeat(4,100px);
  justify-content: center;
}

.socialNetworks_item_icon {
  color: var(--primary);
  height: 50px;
  width: auto;
}