.pillars_container{
  display: grid;
  margin-top: 100px;
  justify-content: center;
}

.pillars_container_content{
  display: grid;
  max-width: 970px;
  grid-template-rows: 1fr 1fr 1fr;
}

@media screen and (max-width: 990px){
  .pillars_container_content {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 5%;
  }
}
