.header_container{
  position: fixed;
  overflow: hidden;
  width: 100%;
  background-color: var(--primary);

  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

  top: 0;
  z-index: 2;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 1));
}

.header_container_nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.header_container_nav a{
  text-decoration: none;
  color: var(--white);
}
.header_container_image{
  display: grid;
  justify-content: center; 
}

.header_item_image{
  max-width: 125px;
}

.show{
  display: none;
}

.nav_label{
  text-align: left;
  padding: 12px;
}

.icon_close{
  display: none;
  justify-self: right;
  margin-right: 10%;
}

@media screen and (max-width: 990px){
  .header_container{
    position: fixed;
    grid-template-columns: 1fr;
    opacity: 1;
  }

  .header_container_nav a{
    display: none;
  }

  .show{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .header_container_nav{
    display: grid;
    justify-content: center; 
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .header_container_nav a {
    display: none;
  }

  .header_container_nav.responsive a {
    display: grid;
    text-align:center; 
    align-items: center;
    justify-content: center; 
    text-align:center;
  }

  .header_container_nav.responsive a:hover {
    background-color: var(--white);   
    opacity: 1;
    color: var(--primary);
  }

  .header_container_image{
    display: none;
  }

  .nav_container_image{
    display: grid;
    align-items: center;
    justify-self: left;
    margin: 2% 0 0 10%;
  }

  .header_item_image1{
    max-width: 100px;
  }

  .icon_bars{
    justify-self: right;
    margin-right: 10%;
  }

  .icon_bars.responsive{
    display: none;
  }

  .icon_close.responsive{
    display: block;
    justify-self: right;
    margin: 27px 10% 0 0;
  }

  .header_item_image1.responsive{
    display: none;
  }
} 