.header_container{
  width: 100%;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  justify-content: center;

  z-index: 99;
  background-color: var(--primary);
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 1));
}

.header_content{
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header_container_image{
  width: 40%;
  display: flex;
}

.header_container_nav{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.header_item_image{
  max-width: 125px;
}

.header_container_icons{
  width: 60%;
  display: none;
}

.header_container_nav a{
  width: auto;
  text-decoration: none;
  color: var(--white);
}

.nav_label{
  width: 100%;
  padding: 12px;
  text-align: right;
}

@media screen and (max-width: 1300px){
  .header_container_image, .header_container_nav{
    padding: 0 5%;
  }
}

@media screen and (max-width: 990px){
  .header_content{
    width: 100%;
  }
  
  .header_container_image{
    padding: 0 5%;
  }

  .header_container_icons{
    width: 60%;
    display: block;
  }
  
  .header_container_nav{
    padding: 0;

    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .icon_bars, .icon_close.responsive{
    display: block;
    float: right;
    margin: 0 10%;
  }
  
  .header_container_nav.responsive a {
    display: flex;
    text-align:center;
    justify-content: center; 
  }

  .header_container_nav.responsive a:hover {
    color: var(--primary);
    background-color: var(--white);   
  }

  .icon_bars.responsive, .icon_close, .header_container_nav a{
    display: none;
  }
} 